<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
  <main class="container">
    <header>
      {{>header}}
      <p>{{ message }}</p>
    </header>
    {{>footer}}
  </main>
</body>

</html>