* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row;
  width: 400px;
  height: 30px;
  justify-content: space-between;
}

.message-input {
  width: 320px;
}

form+.container {
  margin-top: 15px;
}

.app-title {
  width: 60vw;
  background-color: lightblue;
  font-size: 15px;
  padding-left: 10px;
  overflow: hidden;
}

.messages-box {
  max-height: 400px;
  height: 400px;
  width: 400px;
  overflow: scroll;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  padding: 0 .5rem;
  border: 1px solid gray;
}

.message {
  margin-bottom: 1rem;
  .message__name {
    font-size: 1rem;
    font-weight: 600;
  }
  .message__meta {
    font-size: 0.88rem;
    color: lightgray;
  }
}