body {
  box-sizing: border-box;
  /* height: 100vh; */
  width: 80vw;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

h1 {
  color: black;
}

.portrait {
  margin-top: 20px;
  width: 250px;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10px;
}

.container main {
  height: 90vh;
  /* padding: 0 30px; */
}

.header {
  display: flex;
  justify-content: space-between;
}

.header li {
  list-style: none;
  padding: 0 5px;
}

.header a {
  text-decoration: none;
}

.header ul {
  display: flex;
}

.header nav {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: gray;
}